* {
margin: 0;
padding: 0;
box-sizing: border-box;
}
:root {
    --sky-blue: #80AEF7;
    --sky-orange: #FF916F;
    --cloud-blue: #6664A6;
    --cloud-orange: #FCC396;
    --white: #FBFCFD;
    --black: #2E2D4A;
}
.container {
    max-width: 1440px;
    margin: 0 auto;
}

.site-header {
    background-image: url("../images/AIR4U_Background.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 500px;
    padding: 0rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    height: 300px;
    margin: 0 auto;
}

.tagline {
    margin: 0 auto;
    max-width: 65ch;
}
body {
    color: var(--white);
    background-color: var(--sky-blue);
    font-family: 'Notable', 'Sansita Swashed', 'Oswald';
    font-size: 18px;
    line-height: 1.5;
    margin: 0;
}
main {
    max-width: 1440px;
    margin: 0 auto;
}
h1 {
    letter-spacing: 2px;
    color: var(--white);
    font-size: 5.33rem;
    line-height: .5;
    margin-top: 1rem;
     margin-bottom: 3rem;
}

h2 {
    letter-spacing: 2px;
    font-size: 3rem;
}
/* h3 is currently unsused */
h3 {
    font-family: "Sansita Swashed";
    letter-spacing: 2px;
    font-size: 2rem;
    line-height: 1;
    margin-bottom: 1rem;
}
h4 {
    font-family: "Sansita Swashed";
    letter-spacing: 2px;
    font-size: 2rem;
    line-height: 1;
    margin-bottom: 1rem;
}
p {
    font-family: 'Sansita Swashed';
    font-size: 1.5rem;   
    margin-bottom: 1rem;
    max-width: 75ch;
    line-height: 1.7;
}
a {
    color: var(--white);
    text-decoration: none;
}
.site-footer a:hover {
    text-decoration: underline;
}
.main-nav {
display: flex;
justify-content: space-between;
align-items: center;
padding: 1rem 2rem;
background-color: var(--cloud-blue);
}
.nav-links {
display: flex;
gap: 1.5rem;
list-style: none;
margin: 0;
padding: 0;
}
nav ul {
    font-family: 'Oswald';
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: right;
    align-items: center;
    gap: 4rem;
    padding: 1rem 1rem;
    flex-wrap: wrap;
    font-weight: 400;
}
nav a {
    color: var(--white);
    padding: 0.5rem 0.75rem;
    position: relative;
}
nav a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 2px;
  width: 0%;
  height: 2px;
  background-color: currentColor;
  transition: width 0.3s ease;
}
nav a:hover::after {
  width: 100%;
}
.AIR4U-Logo::after {
 display:none;
}
section {
    padding: 3rem 2rem;
}
.btn-orange {
    background-color: var(--sky-orange);
    color: var(--white);
    padding: 12px 20px;
    border-radius: 10px;
    display: inline-block;
    font-size: 1.5rem;
    outline: 0px solid var(--sky-orange);
    transition: outline-width 0.3s ease;
}
.btn-orange:hover {
    outline-width: 8px;
}
.btn-blue {
    font-family: "notable";
    background-color: var(--sky-blue);
    color: var(--white);
    padding: 12px 20px;
    border-radius: 10px;
    display: inline-block;
    font-size: 1.5rem;
    border: none;
    outline: 0px solid var(--sky-blue);
    transition: outline-width 0.3s ease;
}
.btn-blue:hover {
    outline-width: 8px;
}
.darkmode-btn{
    border: none;
    background: none;
    cursor: pointer;
}
.site-footer {
    background-color: var(--cloud-blue);
    color: var(--white);
    text-align: center;
    padding: 2rem 0;
}
.site-footer p {
    font-family: "Oswald";
    margin: 0 auto;
    font-size: 0.9rem;
}
.site-footer ul {
    font-family: 'Oswald';
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4rem;
    padding: 1rem 1rem;
    flex-wrap: wrap;
    font-weight: 400;
}
.shop {
    background-color: var(--sky-orange);
    padding: 4rem 0;
    margin: 2rem 0;
    border-radius: 32px;
    text-align: center;
}
.shop h2 {
    text-align: center;
    padding-bottom: 2rem;
}
.shop a {
    text-align: center;
}
.shop h3 {
    padding-bottom: 2rem;
}
.shop-container {
max-width: 2560px;
margin: 0 auto;
padding: 0 1.5rem;
}
.product-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;  
    padding-bottom: 2rem;
}
.product {
    background-color: var(--white);
    color: var(--black);
    border-radius: 8px;
    align-items: center;
     display: grid;
     grid-template-columns: repeat(2, 1fr);
     padding: 0rem 0rem;
     outline: 0px solid var(--cloud-orange);
     transition: outline-width 0.3s ease, box-shadow 0.3s ease, transform 0.3s ease;
     cursor: pointer;
}
.product:hover{
    outline-width: 8px;
    box-shadow: 0 15px 14px rgba(0,0,0,0.15);
    transform: translateY(-5px);
}
.product p {
    margin-bottom: 0;
    font-family: "Oswald";
}
.product-price {
    text-align: right;
    padding: 1.5rem;
}
.product-name {
    text-align: left;
    padding: 1.5rem;
}
.product-image {
    height: 400px;
    object-fit: cover;
    object-position: center;
    border-radius: 6px;
    margin-top: 1rem;
    display: block;
    grid-column: 1 / -1;
    justify-self: center;
}
.product-preview{
    background-color: var(--sky-orange);
    margin: 2rem 0;
    border-radius: 32px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.product-preview-image{
    display:block;
    height: 600px;
    border-radius: 6px;
    margin: 0 auto;
}
.contact {
    background-color: var(--white);
    color: var(--black);
    margin: 2rem 0;
    border-radius: 32px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    align-items: center;
    padding: 4rem 0;
    text-align: center;
}
.contact h2 {
    grid-column: 1 / -1;
    margin-bottom: 0;
}
.contact p {
    margin-top: 1rem;
    margin-bottom: 2rem;
    margin-left: auto;
    margin-right: auto;
}
.contact-complex {
    background-color: var(--white);
    color: var(--black);
    margin: 2rem 0;
    border-radius: 32px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    text-align: center;
    justify-content: center;
}
.contact-complex h2 {
    margin-bottom: 1rem;
}
.contact-form{
background-color: var(--cloud-blue);
    color: var(--white);
    width: 1000px;
    border-radius: 16px;
    padding-bottom: 2rem;
    padding-top: 0rem;
}
.contact-form p {
    padding-top: 1rem;
}
.Form-Label {
    display: none;
}
.Text-Input {
    border: none;
    border-radius: 8px;
    background: var(--white);
    color: var(--black);
    font-family: "Oswald";
    font-size: 1.5rem;
    padding: 0.5rem 1rem;
    margin: auto 5%;
    }
.Message-Input {
    border: none;
    border-radius: 8px;
    background: var(--white);
    color: var(--black);
    font-family: "Oswald";
    font-size: 1.5rem;
    padding: 0.5rem 1rem;
    margin: auto 5%;
    resize: vertical;
}
.contact-message {
    display: grid;
    grid-template-columns: repeat(1, 2fr);
    gap: 1rem;
    text-align: left;
    padding: 3rem 0;
}
.contact-message p {
    color: var(--black);
    background-color: var(--white);
    border-radius: 8px;
    padding-left: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
}
.contact-message a {
    grid-template-columns: repeat(1, 1fr);
    justify-self: center;
}
.error {
  color: red;
}
.hero{
    text-align: center;
    align-content: center;
    margin: 5rem auto;
}
.hero h4{
    margin-top: 0rem;
}
.OurMessage {
    margin: 2rem 0;
    border: solid var(--white) 3px;
    border-radius: 32px;
    justify-self : center;
    text-align: center;
}
.OurMessage a {
    display: flex;
    justify-self: center;
}
.oswald-text {
    font-family: 'Oswald';
}
.breathe-hero {
    background-image: url("../images/AIR4U_Background.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0rem 0;
    margin: 2rem 0;
    border-radius: 32px;
}
.breathe-hero-overlay {
    padding: 2rem;
    max-width: 700px;
}
.on-the-horizon {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 4rem 0;
    margin: 2rem 0;
    border-radius: 32px;
}
.future-collection {
 justify-self: center;
}
.on-the-horizon h2 {
    display: flex;
     justify-self: center;
     align-self: center;
     text-align: center;
    grid-column: 1 / -1;
    margin-bottom: .5;
}
.on-the-horizon p {
    display: flex;
     justify-self: center;
     align-self: center;
     text-align: center;
    grid-column: 1 / -1;
    margin-top: 0;
    margin-bottom: 1rem;
}
.future-collection-image {
    border-radius: 16px;
    height: 400px;
    margin: 1rem;
}
.btn-blue:focus-visible, .btn-orange:focus-visible, .darkmode-btn:focus-visible, .product:focus-visible, a:focus-visible {
    outline-color: var(--black);
    outline-width: 5px;
    outline-offset: 3px;
} 
@media (max-width: 1439px) {
    .product-price { 
        font-size: 1rem;
    }
    .product-name {
        font-size: 1rem;
    }
    .product-image {
        height: 300px;
    }
}
@media (max-width: 1024px) {
    .future-collection-image {
        height: 300px;
    }
}
@media (max-width: 768px) {
    .AIR4U-Logo{
        display: none;
    }
    .logo {
        width: 300px;
        height: auto;
    }

    h1 {
        font-size: 2.5rem;
    }
    h2 {
        font-size: 1.5rem;
    }
    h3 {
        font-size: 1.25rem;
    }
    h4 {
        font-size: 1.25rem;
    }
    p {
        font-size: 1rem;
    }

    nav ul {
        gap: 0.75rem;
        margin: 0 auto;
    }
    .product-grid {
        grid-template-columns: 1fr 1fr;
    }
    .site-header {
        min-height: 300px;
    }
    .on-the-horizon {
        grid-template-columns: 1fr;
    }
    .message {
        text-align: center;
    }
    .contact-message {
    grid-template-columns: repeat(1, 1fr);

    }
    .contact-form{
    width: 500px;
    }
    .product-preview-image{
    height: 400px;
    }
}
@media (max-width: 426px) {
    p {
        max-width: 45ch;
    }
    .contact{
        grid-template-columns: 1fr;
    }
    .future-collection-image {
        height: 250px;
    }
    .contact-form{
    width: 300px;
    }
    .product-grid {
        grid-template-columns: 1fr;
    }
    nav ul {
        flex-direction: column;
    }
    .site-footer ul {
        flex-direction: column;
        gap: 1rem;
    }
    iframe {
        width: 360px;
        height: 203px;
    }
    .product-preview {
        grid-template-columns: 1fr;
    }
}
.dark-mode {
    --sky-blue: #072040;
    --sky-orange: #D6713A;
    --cloud-blue: #40546E;
    --cloud-orange: #DFAC7A;
    .site-header {
    background-image: url("../images/AIR4U_Darkmode_Background.png");
    }
    .breathe-hero {
    background-image: url("../images/AIR4U_Darkmode_Background.png");
}
.btn-blue:focus-visible, .btn-orange:focus-visible, .darkmode-btn:focus-visible, .product:focus-visible, a:focus-visible {
    outline-color: gold;
} 
}

